@page "/"
@model ToDoAppHD.Pages.ToDoList.ToDoListModel
@{
    ViewData["Title"] = "ToDoList";
}


<br />
<div class="container row">
    <div class="col-6">
        <h2 class="text-info">To Do List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-page="Create" class="btn btn-primary">New task</a>
    </div>
</div>

@if (Model.Mensaje != null)
{   
    <br />
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        @Model.Mensaje
    </div>
}


<form method="post">
    @if (Model.toDoModel.Count() > 0)
    {
        <br />
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    Date
                </th>
                <th>
                    Priority
                </th>
                <th>
                    <svg class="bi bi-list-check" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm0-4a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm0-4a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zM3.854 2.146a.5.5 0 010 .708l-1.5 1.5a.5.5 0 01-.708 0l-.5-.5a.5.5 0 11.708-.708L2 3.293l1.146-1.147a.5.5 0 01.708 0zm0 4a.5.5 0 010 .708l-1.5 1.5a.5.5 0 01-.708 0l-.5-.5a.5.5 0 11.708-.708L2 7.293l1.146-1.147a.5.5 0 01.708 0zm0 4a.5.5 0 010 .708l-1.5 1.5a.5.5 0 01-.708 0l-.5-.5a.5.5 0 01.708-.708l.146.147 1.146-1.147a.5.5 0 01.708 0z" clip-rule="evenodd" />
                    </svg>
                </th>
                <th>
                    Acciones
                </th>
            </tr>
            @foreach (var item in Model.toDoModel)
            {
            <tr>
                <td>@Html.DisplayFor(m => item.Title)</td>
                <td>@Html.DisplayFor(m => item.Description)</td>
                <td>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date))</td>
                <td>@Html.DisplayFor(m => item.Priority)</td>
                <td>
                   @if (item.Status == true)
                    {

                    <svg class="bi bi-check" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L6.5 10.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                    </svg>
                
                    }
                    else
                    {
                
                    <svg class="bi bi-x" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd" />
                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd" />
                    </svg>
                
                    }
                </td>
                <td>
                    <button asp-page-handler="Delete" asp-route-id="@item.ID" onclick="return confirm('Esta seguro de querer borrar el curso?')" class="btn btn-danger btn-sm">Borrar</button>
                    <a asp-route-id="@item.ID" asp-page="Edit" class="btn btn-success btn-sm">Editar</a>
                </td>
            </tr>
            }
        </table>
    }
    else
    {
        <br />
        <p>You do not have anything to do!</p>
    }
</form>


